@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

h1 {
    font-family: 'Ms Madi', cursive;
    text-align: center;
    font-size: 6rem;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

nav {
    border: 1px solid gray;
    box-shadow: 1px 1px gray;
    display: flex;
    justify-content: space-around;
}